<?xml version='1.0' encoding='utf-8'?>
<settings>
	<run_mode>eigenvalue</run_mode>
    <particles>100</particles>
    <batches>10</batches>
    <inactive>5</inactive>
<source>
        <space type="box">
            <parameters>-96.52 -96.52 -2.5 96.52 96.52 2.5</parameters>
        </space>
    </source>
<output>
        <tallies>true</tallies>
    <distribmats>false</distribmats>
    <summary>true</summary>
    </output>
</settings>
